*{
    margin: 0;
    padding: 0.2rem;
    box-sizing: border-box;
}
body{
    background-color:#dfe67f;
}

.socials-icon img{
height: 80px;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header *{
    background-color: yellowgreen;
    border-radius: 30px;
    padding: 5px 25px;


}


.image-container{
display: flex;


}

#gardening-pic{
    width: 50%;
    border-radius: 20px;
    height: 50%;
}

/* hero styles */ 
#hero{
    position: relative;
}

#hero #gardening-pic{
display: inline-block;
width: 100%;

}

#hero .info-container {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
color: #000000;
padding: 0 50px;
display: flex



}
#hero .info-container .info{
    top: 50%;
    transform: translateY(20%);
    margin-left: 15px;
}

.profile-pic{
    width: 35%;
    border-radius:50%;
    object-fit: cover;
    object-position: center;
    
}


#hero .info-container .info button{

    margin: 20px 40%;

    
}